.container  div {
    background: rgb(241, 98, 37);
    color:blue;
    grid-area: c; 
    width: 1000px;
    
     /* border: 1px solid ;  */
}

img{
    border-radius: 50%
}
.page{
    font-weight: bold;
    font-size: 15px;
}