.container_profile{
    grid-area: c;
    /* background: #FFFFFF; */
    /* box-shadow: 0px 19.2249px 53.4024px -16.0207px rgba(25, 42, 89, 0.2); */
    background-image: url(../Image/wood.jpeg);
    width: 1000px;
}
.profile_avatar{
    border-radius: 50%;
    margin-top: 30px;
}
.description_name_nickname{
    color: #ffffff;
}